serviceSPB/target/
*.class
*.log
serviceSPB/src/main/java/com/smartprogrammingbaddies/spbservice-40a86-firebase-adminsdk-s1wtc-bcadcaece9.json
serviceSPB/src/main/java/com/smartprogrammingbaddies/database.json

# ide stuff
/.idea/
/*.iml
serviceSPB/*.iml
.vscode/
/.classpath
/.project
/.settings/

.DS_Store
Thumbs.db
.mvn/
!.mvn/wrapper/maven-wrapper.jar

*.jar
*.war
*.ear